################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SAE/API/bin
/SAE/.vs
/SAE/API/obj
/SAE/App/.vs
/SAE/App/bin
/SAE/App/obj
/SAE/Database/.vs
/SAE/Database/bin
/SAE/Database/obj
/SAE/Database/Migrations
/Dokumentation/.$UML.drawio.bkp
/SAE/DatabaseSync/obj
/SAE/DatabaseSync/bin/Debug/net8.0
